.client-header {
    height: 8rem;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    & ul {
        display: flex;
        margin-left: 10rem;
        list-style: none;
        justify-content: space-between;
        & li > a {
            margin-right: 3rem;
            text-decoration: none;
        }
    }
}
